/* breakpoints */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;


$clr-green-primary-lt: #CADBC5;
$clr-blue-primary-lt: #5177A6;
$clr-white: #FFFFFF;
$clr-black: #121212;



