/* breakpoints */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;


$clr-primary-lt: #a688fa;
$clr-primary-dk: #7c53d3;
$clr-white: #FFFFFF;
$clr-black: #121212;



