.banner {
    background-color: aqua;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10vh;
}